<template name="helpContentDECategoryWorkload">

    (##) Lernpensum

    <a href="/img/help/de/Lernpensum.jpg" data-lightbox="img-1"
       data-title="Lernpensum">
        <img src="/img/help/de/Lernpensum.jpg" alt="Lernpensum"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Thema auswählen:</strong> Einzelne Karteien kannst du aus dem Themen-Pool per Klick auf das Thema der Kartei zu deinem Lernpensum hinzufügen.
        </li>
        <li><strong>Repetitorium auswählen:</strong> Ein Repetitorium, bestehend aus thematisch gebündelten Karteien (keine Kopien,
            nur Referenzen, Änderungen sind nur in der jeweiligen Kartei möglich)
            nimmst du über diesen Button und per Klick auf das jeweilige Plus-Icon in dein Lernpensum auf.
        </li>
        <li><strong>Heutiges Lernpensum:</strong> Hier wird dir für jede Kartei und für jedes Repetitorium die Anzahl der heute zu lernenden Karten angezeigt.
            Schau in deine Mailbox oder aufs Smartphone: Dort solltest du auf die bis zu einem bestimmten Termin zu lernenden Karten hingewiesen werden.
            Lies auf der Info-Seite »Lernen«, wie der Wiederholungs-Algorithmus die Karten bestimmt, die du täglich lernen solltest, um die Inhalte langfristig zu memorieren.
            Weiter rechts findest du zwei Buttons: einen für die Visualisierung deines Lernfortschritts und einen,
            falls du die Kartei oder das Repetitorium aus deinem Lernpensum wieder entfernen willst.
        </li>
    </ul>
</template>
