<template name="cardSidebarItemHideSidebar">
    {{#if isSidebarHidden}}
        <i class="card-button toggleSidebar active fa fa-angle-double-right" title="{{_ "card.tooltip.showSidebar"}}"></i>
    {{else}}
        <i class="card-button toggleSidebar fa fa-angle-double-left" title="{{_ "card.tooltip.hideSidebar"}}"></i>
    {{/if}}
</template>
