<template name="admin_dashboard">
    <div class="content-header">
        <h1>
            {{_ "admin.dashboard"}}
        </h1>
    </div>
    <div class="content">
        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>{{getServerInventory "cardsets"}}</h3>
                    <p>{{_ "admin.cardsets"}}</p>
                </div>
            </div>
        </div>

        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>{{getServerInventory "repetitorium"}}</h3>
                    <p>{{_ "navbar-collapse.course"}}</p>
                </div>
            </div>
        </div>

        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>{{getServerInventory "cards"}}</h3>
                    <p>{{_ "admin.cards"}}</p>
                </div>
            </div>
        </div>

        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>
                        {{getServerInventory "user"}}
                        <span>{{getServerInventory "userOnline"}} Online</span>
                    </h3>
                    <p>{{_ "admin.users"}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
